<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <div>
        <h3>Welcome!</h3>
        <p>你好，<%=name%>，在這裡你可以發表留言和查看其他人的留言</p>
        <form action="/logout" method="get">
            <p>(不是你的帳號? <button>登出</button>)</p>
        </form>

    </div>
    <div>
        <h3>輸入留言</h3>
        <form action="/login-comment" method="get">
            稱呼:<%=name%><br>
            留言:<input type="text" name="comment"/>
            <button>送出留言</button>
        </form>
    </div>
    <div>
        <h3>留言列表</h3>
        <%for(let i=0;i<comments.length;i++){ %>
            使用者:<%= comments[i].name%><br>
            時間:<%= comments[i].dateValues %><br>
            留言:<%= comments[i].comment %> <br><hr>
        <%}%>

    </div>
</body>
</html>